<template>
  <div>
    <main>
      <!-- breadcrumb-area-start -->
      <section class="breadcrumb-area" data-background="img/bg/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb-text text-center">
                <h1>Shoping Cart</h1>
                <ul class="breadcrumb-menu">
                  <li>
                    <a href="index.html">home</a>
                  </li>
                  <li>
                    <span>Cart</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- Cart Area Strat-->
      <section class="cart-area pt-100 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="#">
                <div class="table-content table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="product-thumbnail">Images</th>
                        <th class="cart-product-name">Product</th>
                        <th class="product-price">Unit Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                        <th class="product-remove">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in $store.state.cart" :key="item.id">
                        <td class="product-thumbnail">
                          <a href="#">
                            <img :src=" uri + 'uploads/book_images/' + item.book_cover" alt />
                          </a>
                        </td>
                        <td class="product-name">
                          <a href="#">{{item.book_title }}</a>
                        </td>
                        <td class="product-price">
                          <span class="amount">{{item.book_price}}</span>
                        </td>
                        <td class="product-quantity">
                          <div class="cart-plus-minus">
                            <input type="text" :value="item.quantity" />
                          </div>
                        </td>
                        <td class="product-subtotal">
                          <span class="amount">IDR {{item.totalPrice}}</span>
                        </td>
                        <td class="product-remove">
                          <a href="#" @click="removeItem(item)">
                            <i class="fa fa-times"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="cart-page-total">
                      <h2>Cart totals</h2>
                      <ul class="mb-20">
                        <li>
                          Total
                          <span>IDR {{totalPrice}}</span>
                        </li>
                      </ul>
                      <router-link :to="{ name : 'checkout' }">
                        <a class="btn theme-btn" href>Proceed to checkout</a>
                      </router-link>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Cart Area End-->
    </main>

    <!-- footer start -->
    <footer>
      <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="index.html">
                    <img :src=" uri + 'vendor/frontend/img/logo/footer-logo.png'" alt />
                  </a>
                </div>
                <p>VueBook Store merupakan e-commerce buku asal Indonesia yang perkembangannya terhitung cepat,menjadikannya sebagai e-commerce pilihan bagi banyak masyarakat Indonesia. Hal ini disebabkan kehadiran VueBook Store membuat pengalaman belanja online para penggunanya menjadi mudah, aman, dan efisien.</p>
                <div class="footer-time d-flex mt-30">
                  <div class="time-icon">
                    <img :src=" uri + 'vendor/frontend/img/icon/time.png'" alt />
                  </div>
                  <div class="time-text">
                    <span>Got Questions ? Call us 24/7!</span>
                    <h2>(0600) 874 548</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Twitter</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Line@</a>
                  </li>
                  <li>
                    <a href="#">Linkedin</a>
                  </li>
                  <li>
                    <a href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-30 mb-40">
                <h3>Location</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Depok</a>
                  </li>
                  <li>
                    <a href="#">Bekasi</a>
                  </li>
                  <li>
                    <a href="#">Simatupang</a>
                  </li>
                  <li>
                    <a href="#">Salemba</a>
                  </li>
                  <li>
                    <a href="#">Karawaci</a>
                  </li>
                  <li>
                    <a href="#">JaCengkarengpan</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>About</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Wholesale</a>
                  </li>
                  <li>
                    <a href="#">Direction</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <a href="shop.html">
                    <img :src=" uri + 'vendor/frontend/img/banner/add.jpg'" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2019
                    <a href="#">VueBook Store</a>. All Rights Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-behance"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";

export default {
  data: () => ({
    appName: window.config.appName,
    uri: "http://127.0.0.1:8000/",
    product_id: "",
    product: {}
  }),

  mounted() {
    console.log(this.$store.state.cart);
  },

  computed: {
    ...mapGetters({
      user: "auth/user"
    }),

    totalPrice() {
      let total = 0;

      for (let item of this.$store.state.cart) {
        total += item.totalPrice;
      }

      return total.toFixed(2);
    }
  },

  methods: {
    removeItem(item) {
      Swal.fire({
        type: "question",
        title: "Hapus Item",
        text: "Singkirkan dari keranjang",
        showCancelButton: true,
        confirmButtonText: "Yas",
        cancelButtonText: "Nah"
      }).then(result => {
        if (result.value) {
          this.$store.commit("removeFromCart", item);
        }
        Swal.fire({
          type: "success",
          title: "Cool! You've been Checkout",
          text: "Go to your profile to check your status",
          cancelButtonText: "Close"
        });
      });
    }
  }
};
</script>