<template>
  <div>
    <main>
      <!-- Cart Area Strat-->
      <section class="cart-area pb-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="#">
                <div class="table-content table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="product-thumbnail">Images</th>
                        <th class="cart-product-name">Product</th>
                        <th class="product-price">Unit Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                        <th class="product-remove">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in $store.state.cart" :key="item.id">
                        <td class="product-thumbnail">
                          <a href="#">
                            <img :src=" uri + 'uploads/product_images/' + convertImage(item.product_image)" alt />
                          </a>
                        </td>
                        <td class="product-name">
                          <a href="#">{{item.product_name }}</a>
                        </td>
                        <td class="product-price">
                          <span class="amount">IDR {{convert(item.product_price)}}</span>
                        </td>
                        <td class="product-quantity">
                          <div class="cart-plus-minus">
                            <input type="text" :value="item.quantity" />
                          </div>
                        </td>
                        <td class="product-subtotal">
                          <span class="amount">IDR {{convert(item.totalPrice)}}</span>
                        </td>
                        <td class="product-remove">
                          <a href="#" @click="removeItem(item)">
                            <i class="fa fa-times"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="cart-page-total">
                      <h2>Cart totals</h2>
                      <ul class="mb-20">
                        <li>
                          Total
                          <span>IDR {{convert(totalPrice)}}</span>
                        </li>
                      </ul>
                      <router-link :to="{ name : 'checkout' }">
                        <a class="btn theme-btn" href>Proceed to checkout</a>
                      </router-link>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Cart Area End-->
    </main>

    <!-- footer start -->
    <Footer />
    <!-- footer end -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import numeral from 'numeral'
import Footer from '~/components/Footer.vue'
export default {
  components : {
    Footer
  },
  data: () => ({
    appName: window.config.appName,
    uri: "http://127.0.0.1:8000/",
    product_id: "",
    product: {}
  }),

  mounted() {
    console.log(this.$store.state.cart);
  },

  computed: {
    ...mapGetters({
      user: "auth/user"
    }),

    totalPrice() {
      let total = 0;

      for (let item of this.$store.state.cart) {
        total += item.totalPrice;
      }

      return total.toFixed(2);
    }
  },

  methods: {
    convertImage(img){
      var image = img.split(',')
      return image[0]
    },
    convert(price){
      return numeral(price).format('0,0')
    },
    removeItem(item) {
      Swal.fire({
        type: "question",
        title: "Hapus Item",
        text: "Singkirkan dari keranjang",
        showCancelButton: true,
        confirmButtonText: "Yas",
        cancelButtonText: "Nah"
      }).then(result => {
        if (result.value) {
          this.$store.commit("removeFromCart", item);
        }
      });
    }
  }
};
</script>