<template>
  <div>
    <main>
      <!-- checkout-area start -->
      <section class="checkout-area pb-70">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="your-order mb-30">
                <h3>Your order</h3>
                <div class="your-order-table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th class="product-name">Product</th>
                        <th class="product-total">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item" v-for="item in $store.state.cart" :key="item.id">
                        <td class="product-name">
                          {{item.product_name }}
                          <strong
                            class="product-quantity"
                          >× {{ item.quantity }}</strong>
                        </td>
                        <td class="product-total">
                          <span class="amount">IDR {{convert(item.totalPrice)}}</span>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="cart-subtotal">
                        <th>Cart Subtotal</th>
                        <td>
                          <span class="amount">IDR {{convert(totalPrice)}}</span>
                        </td>
                      </tr>
                      <tr class="shipping">
                        <th>Address</th>
                        <td>
                          <ul>
                            <li>
                             <div>
                                <label for="city">City</label>
                              <select v-model="city" @change="changeShipping()" id="city" class="form-control">
                                <option :value="i.address" v-for="(i,index) in city_list" :key="index">{{i.address}}</option>
                              </select>
                             </div>
                             <div class="mt-2">
                              <label for="postal">Postal</label>
                              <input v-model="postal" class="form-control" type="text" name="postal" />
                             </div>
                             <div class="mt-2">
                              <label for="address">Adress</label>
                              <textarea v-model="address" class="form-control" type="text" name="address"> </textarea>
                             </div>
                            </li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="order-total">
                        <th>Shipping</th>
                        <td class="product-total">
                          <span class="amount">IDR {{convert(this.shipping)}}</span>
                        </td>
                      </tr>
                      <tr class="order-total">
                        <th>Order Total</th>
                        <td>
                          <strong>
                            <span class="amount">IDR {{convert(total)}}</span>
                          </strong>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>

                <div class="payment-method">
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button
                            class="btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                          >Melalui Bank BCA</button>
                        </h5>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          Pilih transaksi lainnya
                          <br />Pilih Menu TRANSFER
                          <br />Pilih Menu TRANSFER ke Bank Lain
                          <br />Masukan kode Bank + No Rekening Tujuan = 013-89650-711-22000605
                          <br />Masukan jumlah pembayaran sesuai nilai tagihan (tidak boleh lebih atau kurang)
                          <br />Jika nilai Tagihan yang di input sesuai, maka akan muncul konfirmasi Nama Pemilik Virtual Account dan Jumlah transaksi - Tekan YA jika benar dan transaksi BERHASIL dilakukan
                          <br />Resi / Struk transaksi akan keluar, harap disimpan sebagai bukti pembayaran yang sah.
                          <br />
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button
                            class="btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                          >Melalui ATM Lain</button>
                        </h5>
                      </div>
                      <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          Pilih Menu Transaksi lainnya
                          <br />Pilih Menu TRANSFER
                          <br />Pilih Menu TRANSFER ke Bank Lain
                          <br />Masukan kode Bank + No Rekening Tujuan = 013-89650-711-22000605
                          <br />Setelah itu tekan tombol BENAR
                          <br />Masukan nominal pembayaran sesuai Tagihan (Tidak boleh lebih atau kurang)
                          <br />Jika nilai Tagihan yang di input sesuai, maka akan muncul konfirmasi Nama Pemilik Virtual Account dan Jumlah transaksi - Tekan YA jika benar dan transaksi BERHASIL dilakukan
                          <br />Resi/Struk transaksi akan keluar, harap disimpan sebagai bukti pembayaran yang sah.
                          <br />
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button
                            class="btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                          >PayPal</button>
                        </h5>
                      </div>
                      <div
                        id="collapseThree"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          Pay via PayPal; you can pay with your credit card if you don’t have a
                          PayPal account.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-button-payment mt-20">
                    <button @click="checkout" type="submit" class="btn theme-btn">order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- checkout-area end -->
    </main>

    <!-- footer start -->
    
    <Footer />
    <!-- footer end -->
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import {mapMutations} from 'vuex'
import Footer from '~/components/Footer.vue'
import numeral from 'numeral'
import { mapGetters } from "vuex";
export default {
  middleware : 'auth',
  components : {
    Footer
  },
  data: () => ({
    uri: "http://127.0.0.1:8000/",
    product_id: "",
    product: {},
    shipping : [
      {}
    ],
    active_user : null,
    city : null,
    address : null,
    phone : null,
    postal : null,
    city_list : [
      {address : 'kota makasar' , price : 46000},
      {address : 'kab. bekasi' , price : 10000},
      {address : 'kota bekasi' , price : 10000},
      {address : 'kab. lampung' , price : 57000},
      {address : 'kota semarang' , price : 24000},
      {address : 'kab. semarang' , price : 30000},
      {address : 'kota surabaya' , price : 25000},
      {address : 'kota makasar' , price : 46000},
    ],
    total : 0
  }),

  mounted() {
    this.getData()
    console.log(this.$store.state.cart);
  },

  computed: {
    totalPrice() {
      let total = 0;

      for (let item of this.$store.state.cart) {
        total += item.totalPrice;
      }

      return total.toFixed(2);
    },
    ...mapGetters({
      user: "auth/user"
    })
  },

  methods: {
    convert(price){
      return numeral(price).format('0,0')
    },
    changeShipping(){
      this.city_list.forEach((i) => {
          if(this.city == i.address){
            this.shipping = i.price
            this.total = parseInt(this.totalPrice) + this.shipping
            console.log(this.total)
          }
        })
    },
    getData() {
      axios.get("api/get_data_user/" + this.user.id).then(res => {
        // console.log(res);
        this.active_user = res.data;
        if(!this.active_user.city || !this.active_user.postal || !this.active_user.address){
          Swal.fire('Data anda tidak lengkap' , 'Silahkan lengkapi informasi profil anda' , 'info')
          this.$router.push({name : 'information'})
        }
        this.city = this.active_user.city
        this.city_list.forEach((i) => {
          if(this.city == i.address){
            this.shipping = i.price
            this.total = parseInt(this.totalPrice) + this.shipping
            console.log(this.total)
          }
        })
        this.address = this.active_user.address
        this.phone = this.active_user.phone
        this.postal = this.active_user.postal
        console.log(this.active_user);
      });
    },
    ...mapMutations({
      destroyCart : 'destroyCart'
    }),
    checkout() {
      if(this.address && this.phone && this.postal){
        let data = {
        cart: this.$store.state.cart
      };
      Swal.fire({
        type: "question",
        title: "Checkout",
        text: "Beli Item ?",
        showCancelButton: true,
        confirmButtonText: "Yas",
        cancelButtonText: "Nah"
      }).then(result => {
        if (result.value) {
          axios
            .post(this.uri + "api/checkout", {
              cart: data.cart,
              total: this.total,
              city : this.city,
              postal : this.postal,
              address : this.address
            })
            .then(res => {
              this.destroyCart()
              Swal.fire({
                type: "success",
                title: "Cool! You've been Checkout",
                text: "Go to your profile to check your status",
                cancelButtonText: "Close"
              });
              console.log(res);
              this.$router.push({name : 'order'})
            })
            .catch(err => console.log(err));
        }
      });
      }else{
        Swal.fire('Gagal Check out', ' Silahkan isi keterangan pengiriman' , 'error')
      }
    }
  }
};
</script>