<template>
  <div>
    <main>
      <!-- breadcrumb-area-start -->
      <section class="breadcrumb-area" data-background="img/bg/page-title.png">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb-text text-center">
                <h1>Checkout</h1>
                <ul class="breadcrumb-menu">
                  <li>
                    <a href="index.html">home</a>
                  </li>
                  <li>
                    <span>Checkout</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- checkout-area start -->
      <section class="checkout-area pb-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="your-order mb-30">
                <h3>Your order</h3>
                <div class="your-order-table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th class="product-name">Product</th>
                        <th class="product-total">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item" v-for="item in $store.state.cart" :key="item.id">
                        <td class="product-name">
                          {{item.book_title }}
                          <strong class="product-quantity">× {{ item.quantity }}</strong>
                        </td>
                        <td class="product-total">
                          <span class="amount">IDR {{item.totalPrice}}</span>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="cart-subtotal">
                        <th>Cart Subtotal</th>
                        <td>
                          <span class="amount">IDR {{totalPrice}}</span>
                        </td>
                      </tr>
                      <tr class="shipping">
                        <th>Shipping</th>
                        <td>
                          <ul>
                            <li>
                              <input type="radio" />
                              <label>Free Shipping</label>
                            </li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                      <tr class="order-total">
                        <th>Order Total</th>
                        <td>
                          <strong>
                            <span class="amount">IDR {{totalPrice}}</span>
                          </strong>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>

                <div class="payment-method">
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button
                            class="btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                          >Melalui Bank BCA</button>
                        </h5>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          Pilih transaksi lainnya
                          <br />Pilih Menu TRANSFER
                          <br />Pilih Menu TRANSFER ke Bank Lain
                          <br />Masukan kode Bank + No Rekening Tujuan = 013-89650-711-22000605
                          <br />Masukan jumlah pembayaran sesuai nilai tagihan (tidak boleh lebih atau kurang)
                          <br />Jika nilai Tagihan yang di input sesuai, maka akan muncul konfirmasi Nama Pemilik Virtual Account dan Jumlah transaksi - Tekan YA jika benar dan transaksi BERHASIL dilakukan
                          <br />Resi / Struk transaksi akan keluar, harap disimpan sebagai bukti pembayaran yang sah.
                          <br />
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button
                            class="btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                          >Melalui ATM Lain</button>
                        </h5>
                      </div>
                      <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          Pilih Menu Transaksi lainnya
                          <br />Pilih Menu TRANSFER
                          <br />Pilih Menu TRANSFER ke Bank Lain
                          <br />Masukan kode Bank + No Rekening Tujuan = 013-89650-711-22000605
                          <br />Setelah itu tekan tombol BENAR
                          <br />Masukan nominal pembayaran sesuai Tagihan (Tidak boleh lebih atau kurang)
                          <br />Jika nilai Tagihan yang di input sesuai, maka akan muncul konfirmasi Nama Pemilik Virtual Account dan Jumlah transaksi - Tekan YA jika benar dan transaksi BERHASIL dilakukan
                          <br />Resi/Struk transaksi akan keluar, harap disimpan sebagai bukti pembayaran yang sah.
                          <br />
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button
                            class="btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                          >PayPal</button>
                        </h5>
                      </div>
                      <div
                        id="collapseThree"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body">
                          Pay via PayPal; you can pay with your credit card if you don’t have a
                          PayPal account.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-button-payment mt-20">
                    <button @click="checkout" type="submit" class="btn theme-btn">order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- checkout-area end -->
    </main>

    <!-- footer start -->
    <footer>
      <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="index.html">
                    <img :src=" uri + 'vendor/frontend/img/logo/footer-logo.png'" alt />
                  </a>
                </div>
                <p>VueBook Store merupakan e-commerce buku asal Indonesia yang perkembangannya terhitung cepat,menjadikannya sebagai e-commerce pilihan bagi banyak masyarakat Indonesia. Hal ini disebabkan kehadiran VueBook Store membuat pengalaman belanja online para penggunanya menjadi mudah, aman, dan efisien.</p>
                <div class="footer-time d-flex mt-30">
                  <div class="time-icon">
                    <img :src=" uri + 'vendor/frontend/img/icon/time.png'" alt />
                  </div>
                  <div class="time-text">
                    <span>Got Questions ? Call us 24/7!</span>
                    <h2>(0600) 874 548</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Twitter</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Line@</a>
                  </li>
                  <li>
                    <a href="#">Linkedin</a>
                  </li>
                  <li>
                    <a href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-30 mb-40">
                <h3>Location</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Depok</a>
                  </li>
                  <li>
                    <a href="#">Bekasi</a>
                  </li>
                  <li>
                    <a href="#">Simatupang</a>
                  </li>
                  <li>
                    <a href="#">Salemba</a>
                  </li>
                  <li>
                    <a href="#">Karawaci</a>
                  </li>
                  <li>
                    <a href="#">JaCengkarengpan</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>About</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Wholesale</a>
                  </li>
                  <li>
                    <a href="#">Direction</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <a href="shop.html">
                    <img :src=" uri + 'vendor/frontend/img/banner/add.jpg'" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2019
                    <a href="#">VueBook Store</a>. All Rights Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-behance"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
export default {
  data: () => ({
    uri: "http://127.0.0.1:8000/",
    product_id: "",
    product: {}
  }),

  mounted() {
    console.log(this.$store.state.cart);
  },

  computed: {
    totalPrice() {
      let total = 0;

      for (let item of this.$store.state.cart) {
        total += item.totalPrice;
      }

      return total.toFixed(2);
    }
  },

  methods: {
    checkout() {
      let data = {
        cart: this.$store.state.cart
      };
      Swal.fire({
        type: "question",
        title: "Checkout",
        text: "Beli Item ?",
        showCancelButton: true,
        confirmButtonText: "Yas",
        cancelButtonText: "Nah"
      }).then(result => {
        if (result.value) {
          axios
            .post(this.uri + "api/checkout", {
              cart: data.cart,
              total: this.totalPrice
            })
            .then(res => {
              Swal.fire({
                type: "success",
                title: "Cool! You've been Checkout",
                text: "Go to your profile to check your status",
                cancelButtonText: "Close"
              });
              console.log(res);
            })
            .catch(err => console.log(err));
        }
      });
    }
  }
};
</script>