<template>
  <div>

    <main>
      <section
        class="hero-wrap hero-wrap-2 js-fullheight"
        style="background-image: url('images/bg_1.jpg');"
        data-stellar-background-ratio="0.5"
      >
        <div class="overlay"></div>
        <div class="container">
          <div
            class="row no-gutters slider-text js-fullheight align-items-end justify-content-center"
          >
            <div class="col-md-9 ftco-animate pb-5 text-center">
              <h1 class="mb-3 bread">Contact Us</h1>
              <p class="breadcrumbs">
                <span class="mr-2">
                  <a href="index.html">
                    Home
                    <i class="ion-ios-arrow-forward"></i>
                  </a>
                </span>
                <span>
                  Contact us
                  <i class="ion-ios-arrow-forward"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section ftco-no-pb contact-section">
        <div class="container">
          <div class="row d-flex contact-info">
            <div class="col-md-3 d-flex">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fas text-white fa-map"></span>
                </div>
                <h3 class="mb-2">Address</h3>
                <p>198 West 21th Street, Suite 721 Jakarta NY 10016</p>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fas text-white fa-phone"></span>
                </div>
                <h3 class="mb-2">Contact Number</h3>
                <p>
                  <a href="tel://1234567920">+6288888888888</a>
                </p>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fas text-white fa-envelope"></span>
                </div>
                <h3 class="mb-2">Email Address</h3>
                <p>
                  <a href="mailto:info@yoursite.com">info117@gmail.com</a>
                </p>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fas text-white fa-search"></span>
                </div>
                <h3 class="mb-2">Website</h3>
                <p>
                  <a href="#">yoursite.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- footer start -->
    <footer>
      <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="index.html">
                    <img :src=" uri + 'vendor/frontend/img/logo/logofix.png'" alt />
                  </a>
                </div>
                <p>Diamond Time merupakan e-commerce jam tangan asal Indonesia yang perkembangannya terhitung cepat,menjadikannya sebagai e-commerce pilihan bagi banyak masyarakat dalam dan luar negeri. Hal ini disebabkan kehadiran Diamond Time membuat pengalaman belanja online para penggunanya menjadi mudah, aman, dan efisien.</p>
                <div class="footer-time d-flex mt-30">
                  <div class="time-icon">
                    <img :src=" uri + 'vendor/frontend/img/icon/time.png'" alt />
                  </div>
                  <div class="time-text">
                    <span>Got Questions ? Call us 24/7!</span>
                    <h2>(0600) 874 548</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Twitter</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Line@</a>
                  </li>
                  <li>
                    <a href="#">Linkedin</a>
                  </li>
                  <li>
                    <a href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-30 mb-40">
                <h3>Location</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Depok</a>
                  </li>
                  <li>
                    <a href="#">Bekasi</a>
                  </li>
                  <li>
                    <a href="#">Simatupang</a>
                  </li>
                  <li>
                    <a href="#">Salemba</a>
                  </li>
                  <li>
                    <a href="#">Karawaci</a>
                  </li>
                  <li>
                    <a href="#">JaCengkarengpan</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>About</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Wholesale</a>
                  </li>
                  <li>
                    <a href="#">Direction</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <a href="shop.html">
                    <img :src=" uri + 'vendor/frontend/img/banner/add.jpg'" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2019
                    <a href="#">Diamond Time</a>. All Rights Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-behance"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
  </div>
</template>

<script>
import axios from "axios";
export default {

  data: () => ({
    uri: "http://127.0.0.1:8000/",
    products: {}
  }),

  metaInfo() {
    return {
      title: this.$t("home")
    };
  },

  mounted() {
    this.getDataProducts();
  },

  methods: {
    getDataProducts() {
      console.log(this.$store.state.cart);
      axios.get("api/products/all").then(res => {
        console.log(res);
        this.products = res.data;
      });
    }
  }
};
</script>