<template>
  <div>
    <main>
      <!-- shop-area start -->
      <section class="shop-details-area pt-100 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-4">
              <div class="product-details-img mb-10">
                <div class="tab-content" id="myTabContentpro">
                  <div class="tab-pane fade show active" id="home" role="tabpanel">
                    
                    <div class="swiper-container gallery-top">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(i,index) in images" :key="index" >
                          <img :src="uri + 'uploads/product_images/' + i" style="width : 100%; height : 100%" alt="">
                        </div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next swiper-button-white"></div>
                      <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(i,index) in images" :key="index">
                          <img :src="uri + 'uploads/product_images/' + i" style="width : 100%; height : 100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-8">
              <div class="product-details mb-30 pl-30">
                <div class="details-cat mb-20">
                  <a href="#">{{product.category_name}}</a>
                </div>
                <h2 class="pro-details-title mb-15">{{product.product_name}}</h2>
                <div class="details-price mb-20">
                  <span>IDR {{ convert(product.product_price) }}</span>
                  <!-- <span class="old-price">IDR {{ convert(product.product_price + 10000)}}</span> -->
                </div>
                <div class="product-variant">
                  <div class="product-info-list variant-item">
                    <ul>
                      <li>
                        <span>Engineering Test</span>
                        <span class="in-stock">
                          <div v-if="product.product_stock > 0">{{product.product_stock}}/10</div>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div class="product-info-list variant-item">
                    <h5>Description</h5>
                    <p>{{product.product_description}}</p>
                  </div>

                  <div class="product-action-details variant-item">
                    <div class="product-details-action">
                      <div action="#">
                        <div class="details-cart mt-40">
                          <button class="btn theme-btn" @click="addToCart(product)">add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- shop-area end -->
    </main>

    <!-- footer start -->
    <Footer />
    <!-- footer end -->
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
import Footer from '~/components/Footer.vue'
import numeral from 'numeral'
export default {
  // middleware: "auth",
  components : {
    Footer
  },
  data: () => ({
    uri: "http://127.0.0.1:8000/",
    product_id: "",
    product: {},
    images : []
  }),

  metaInfo() {
    return {
      title: this.$t("detail")
    };
  },
  mounted() {
    
    axios
      .get(this.uri + "api/products/data/" + this.$route.params.product_id)
      .then(res => {
        console.log(res.data);
        this.product = res.data;
        this.images = this.product.product_image.split(',')
        console.log(this.images)
         window.setTimeout(function(){
          var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 30,
            slidesPerView: 3,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
          });              
           var galleryTop = new Swiper('.gallery-top', {
             spaceBetween: 30,
             centeredSlides: true,
             // autoplay: {
             //   delay: 2500,
             //   disableOnInteraction: false,
             // },
             navigation: {
               nextEl: '.swiper-button-next',
               prevEl: '.swiper-button-prev',
             },
             thumbs: {
               swiper: galleryThumbs
             },
         }, 1000)                       
          
        });
      });
  },
  methods: {
    test(i){
      console.log(this.uri + 'uploads/product_images/' + i)
    },
    convert(price){
      return numeral(price).format('0,0')
    },
    openImg(id){
    },
    addToCart(item) {
      this.$store.commit("addToCart", item);
      Swal.fire("Berhasil!", "Item sudah ditambahkan!", "success");
    },
    removeItem(item) {
      this.$store.commit("removeFromCart", item);
    }
  }
};
</script>

<style scoped>
 .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .gallery-top {
      height: 80%;
      width: 100%;
    }

    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
</style>