<template>
  <div>
    <main>
      <!-- shop-area start -->
      <section class="shop-details-area pt-100 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-4">
              <div class="product-details-img mb-10">
                <div class="tab-content" id="myTabContentpro">
                  <div class="tab-pane fade show active" id="home" role="tabpanel">
                    <div class="product-large-img">
                      <img :src=" uri + 'uploads/book_images/' + product.book_cover" alt />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-8">
              <div class="product-details mb-30 pl-30">
                <div class="details-cat mb-20">
                  <a href="#">{{product.category_name}}</a>
                </div>
                <h2 class="pro-details-title mb-15">{{product.book_title}}</h2>
                <div class="details-price mb-20">
                  <span>IDR {{product.book_price}}</span>
                  <span class="old-price">IDR {{ product.book_price + 10000}}</span>
                </div>
                <div class="product-variant">
                  <div class="product-info-list variant-item">
                    <ul>
                      <li>
                        <span>Book Author</span>
                        {{product.book_author}}
                      </li>
                      <li>
                        <span>Book Publisher</span>
                        {{product.book_publisher}}
                      </li>
                      <li>
                        <span>Stock</span>
                        <span class="in-stock">
                          <div v-if="product.book_stock > 0">In Stock</div>
                          <div v-else>Out Stock</div>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div class="product-info-list variant-item">
                    <h5>Description</h5>
                    <p>{{product.book_description}}</p>
                  </div>

                  <div class="product-action-details variant-item">
                    <div class="product-details-action">
                      <div action="#">
                        <div class="details-cart mt-40">
                          <button class="btn theme-btn" @click="addToCart(product)">add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- shop-area end -->
    </main>

    <!-- footer start -->
    <footer>
      <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="index.html">
                    <img :src=" uri + 'vendor/frontend/img/logo/footer-logo.png'" alt />
                  </a>
                </div>
                <p>VueBook Store merupakan e-commerce buku asal Indonesia yang perkembangannya terhitung cepat,menjadikannya sebagai e-commerce pilihan bagi banyak masyarakat Indonesia. Hal ini disebabkan kehadiran VueBook Store membuat pengalaman belanja online para penggunanya menjadi mudah, aman, dan efisien.</p>
                <div class="footer-time d-flex mt-30">
                  <div class="time-icon">
                    <img :src=" uri + 'vendor/frontend/img/icon/time.png'" alt />
                  </div>
                  <div class="time-text">
                    <span>Got Questions ? Call us 24/7!</span>
                    <h2>(0600) 874 548</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Twitter</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Line@</a>
                  </li>
                  <li>
                    <a href="#">Linkedin</a>
                  </li>
                  <li>
                    <a href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-30 mb-40">
                <h3>Location</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Depok</a>
                  </li>
                  <li>
                    <a href="#">Bekasi</a>
                  </li>
                  <li>
                    <a href="#">Simatupang</a>
                  </li>
                  <li>
                    <a href="#">Salemba</a>
                  </li>
                  <li>
                    <a href="#">Karawaci</a>
                  </li>
                  <li>
                    <a href="#">JaCengkarengpan</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>About</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Wholesale</a>
                  </li>
                  <li>
                    <a href="#">Direction</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <a href="shop.html">
                    <img :src=" uri + 'vendor/frontend/img/banner/add.jpg'" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2019
                    <a href="#">VueBook Store</a>. All Rights Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-behance"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
  </div>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
export default {
  middleware: "auth",

  data: () => ({
    uri: "http://127.0.0.1:8000/",
    product_id: "",
    product: {}
  }),

  metaInfo() {
    return {
      title: this.$t("detail")
    };
  },
  mounted() {
    axios
      .get(this.uri + "api/books/data/" + this.$route.params.product_id)
      .then(res => {
        console.log(res.data);
        this.product = res.data;
      });
  },
  methods: {
    addToCart(item) {
      this.$store.commit("addToCart", item);
      console.log(item);
      Swal.fire("Good job!", "Added to Cart!", "success");
    },
    removeItem(item) {
      this.$store.commit("removeFromCart", item);
    }
  }
};
</script>
