<template>
  <div>
      <main>
          <div class="row justify-content-center">
              <div class="col-12 text-center">
                  <div class="container">
                    <h1 class="mb-3 bread">FAQ</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2">
                        <router-link :to="{name : 'home'}">
                            Home
                            <i class="ion-ios-arrow-forward"></i>
                        </router-link>
                        </span>
                        <span>
                        FAQ
                        <i class="ion-ios-arrow-forward"></i>
                        </span>
                    </p>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                  <div class="container">
                      <div class="accordion" :id="'accordionExample'+index" v-for="(i, index) in faq" :key="index">
                        <div class="card" >
                            <div class="card-header" :id="'headingOne' + index">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapseOne'+index" aria-expanded="true" :aria-controls="'collapseOne' + index">
                                {{i.title}}
                                </button>
                            </h2>
                            </div>

                            <div :id="'#collapseOne'+index" class="collapse show" :aria-labelledby="'headingOne' + index" :data-parent="'#accordionExample' + index">
                            <div class="card-body">
                                {{i.body}}
                            </div>
                            </div>
                        </div>
                        </div>
                  </div>
              </div>
          </div>
      </main>
      <Footer />
  </div>
</template>

<script>
import Footer from '~/components/Footer.vue'
export default {
    components : {
        Footer
    },
    data () {
        return {
            faq : [
                {
                    title : 'Lorem ipsum, dolor sit amet',
                    body : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium inventore debitis earum sapiente velit, necessitatibus nam suscipit eius veniam praesentium, temporibus totam saepe. Voluptates dolore corporis sunt incidunt laudantium!'
                },
                {
                    title : 'Lorem ipsum, dolor sit amet',
                    body : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium inventore debitis earum sapiente velit, necessitatibus nam suscipit eius veniam praesentium, temporibus totam saepe. Voluptates dolore corporis sunt incidunt laudantium!'
                },
                {
                    title : 'Lorem ipsum, dolor sit amet',
                    body : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium inventore debitis earum sapiente velit, necessitatibus nam suscipit eius veniam praesentium, temporibus totam saepe. Voluptates dolore corporis sunt incidunt laudantium!'
                },
                {
                    title : 'Lorem ipsum, dolor sit amet',
                    body : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium inventore debitis earum sapiente velit, necessitatibus nam suscipit eius veniam praesentium, temporibus totam saepe. Voluptates dolore corporis sunt incidunt laudantium!'
                },
                {
                    title : 'Lorem ipsum, dolor sit amet',
                    body : 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium inventore debitis earum sapiente velit, necessitatibus nam suscipit eius veniam praesentium, temporibus totam saepe. Voluptates dolore corporis sunt incidunt laudantium!'
                },
            ]
        }
    }
}
</script>

<style>

</style>