<template>
  <div>
    <div class="jumbotron jumbotron-fluid"></div>
    <main>
      <!-- banner area start -->
      <section class="banner-area pl-15 pr-15">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="banner mb-30">
                <a href="#">
                  <img :src=" uri + 'vendor/frontend/img/banner/banner-1/trusted.png'" alt />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="banner mb-30">
                <a href="#">
                  <img :src=" uri + 'vendor/frontend/img/banner/banner-1/cod.jpg'" alt />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="banner mb-30">
                <a href="#">
                  <img :src=" uri + 'vendor/frontend/img/banner/banner-1/fd.jpg'" alt />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner area end -->

      <!-- product-area start -->
      <section class="product-area box-90 pt-70 pb-40">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 col-lg-12">
              <div class="area-title mb-50">
                <h2>Brand New Products</h2>
                <p>Browse the huge variety of our products</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" v-for="product in products" :key="product.id">
              <div class="pro-item">
                <div class="product-wrapper mb-50">
                  <div class="product-img mb-25">
                    <router-link :to="'detail/'+product.id">
                      <img
                        :src=" uri + 'uploads/product_images/' + convertImage(product.product_image)"
                        alt
                      />
                      <img
                        class="secondary-img"
                        :src=" uri + 'uploads/product_images/' + convertImage(product.product_image)"
                        alt
                      />
                    </router-link>
                    <div class="product-action text-center">
                      <router-link :to="'detail/'+product.id">
                        <a href="#" title="Quick View">
                          <i class="flaticon-eye"></i>
                        </a>
                      </router-link>
                    </div>
                    <!-- <div class="sale-tag">
                      <span class="new">new</span>
                      <span class="sale">sale</span>
                    </div>-->
                  </div>
                  <div class="product-content">
                    <div class="pro-cat mb-10">
                      <a href="#">{{ product.category_name }}</a>
                    </div>
                    <h4>
                      <router-link :to="'detail/'+product.id">
                        <a href="#">{{ product.product_name }}</a>
                      </router-link>
                    </h4>
                    <div class="product-meta">
                      <div class="pro-price">
                        <span>IDR {{ convert(product.product_price)}}</span>
                        <br />
                        <!-- <span class="old-price">IDR {{ convert(product.product_price + 10000)}}</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
              <router-link :to="{name : 'products'}">
                <button class="btn btn-dark btn-block btn-lg">Browse All Product</button>
              </router-link>
            </div>
          </div>

          <div class="row justify-content-center mt-5">
            <div class="col-lg-8 text-center">
              <!-- Swiper -->
              <h2>Testimonials</h2>

              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" v-for="(i , index) in testimonies" :key="index">
                    <div class="mt-3" style="overflow-x : scroll !important">
                      <div
                        style="margin-bottom : 30px !important"
                        class="d-flex justify-content-center"
                      >
                        <expandable-image
                          :key="index"
                          v-for="(u , index) in convertImageTestimony(i.image)"
                          :src="uri + 'uploads/testimony_images/' + u"
                          alt
                          class="image--cover"
                        />
                      </div>
                      <h4>{{i.name}}</h4>
                      <p>{{i.testimony}}</p>
                    </div>
                  </div>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- product-area end -->
    </main>

    <!-- footer start -->
    <Footer />
    <!-- footer end -->
  </div>
</template>

<script>
import axios from "axios";
import Footer from "~/components/Footer.vue";
import numeral from "numeral";
export default {
  components: {
    Footer,
  },
  data: () => ({
    uri: "http://127.0.0.1:8000/",
    products: {},
    testimonies: [],
  }),

  metaInfo() {
    return {
      title: this.$t("home"),
    };
  },

  mounted() {
    window.setTimeout(function () {
      var swiper = new Swiper(".swiper-container", {
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        scrollbar: {
          el: ".swiper-scrollbar",
          hide: true,
        },
      });
    }, 5000);
    this.getDataProducts();
    this.getTestimonies();
  },

  methods: {
    getTestimonies() {
      axios
        .get("api/testimonies/all/publish")
        .then((res) => {
          this.testimonies = res.data;
          console.log(this.testimonies);
        })
        .catch((err) => {
          alert(err.response.data.message);
        });
    },
    convert(price) {
      return numeral(price).format("0,0");
    },
    convertImage(image) {
      var img = image.split(",");
      return img[0];
    },
    convertImageTestimony(image) {
      var img = image.split(",");
      console.log(img);
      return img;
    },
    getDataProducts() {
      console.log(this.$store.state.cart);
      axios.get("api/products/all/paginate").then((res) => {
        console.log(res);
        this.products = res.data;
      });
    },
  },
};
</script>

<style scoped>
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-height: 400px;
}

.image--cover {
  width: 150px;
  height: 150px;
  margin: 10px;

  object-fit: cover;
  object-position: center right;
}
</style>