<template>
  <div>
    <main>
      <!-- banner area start -->
      <section class="banner-area pl-15 pr-15">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="banner mb-30">
                <a href="shop.html">
                  <img :src=" uri + 'vendor/frontend/img/banner/banner-1/trusted.png'" alt />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="banner mb-30">
                <a href="shop.html">
                  <img :src=" uri + 'vendor/frontend/img/banner/banner-1/cod.jpg'" alt />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="banner mb-30">
                <a href="shop.html">
                  <img :src=" uri + 'vendor/frontend/img/banner/banner-1/fastShippping2.jpg'" alt />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner area end -->

      <!-- product-area start -->
      <section class="product-area box-90 pt-70 pb-40">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 col-lg-12">
              <div class="area-title mb-50">
                <h2>Brand New Products</h2>
                <p>Browse the huge variety of our products</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" v-for="product in products" :key="product.id">
              <div class="pro-item">
                <div class="product-wrapper mb-50">
                  <div class="product-img mb-25">
                    <a href="product-details.html">
                      <img :src=" uri + 'uploads/book_images/' + product.book_cover" alt />
                      <img
                        class="secondary-img"
                        :src=" uri + 'uploads/book_images/' + product.book_cover"
                        alt
                      />
                    </a>
                    <div class="product-action text-center">
                      <router-link :to="'detail/'+product.id">
                        <a href="#" title="Quick View">
                          <i class="flaticon-eye"></i>
                        </a>
                      </router-link>
                    </div>
                    <div class="sale-tag">
                      <span class="new">new</span>
                      <span class="sale">sale</span>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="pro-cat mb-10">
                      <a href="shop.html">{{ product.category_name }}</a>
                    </div>
                    <h4>
                      <a href="product-details.html">{{ product.book_title }}</a>
                    </h4>
                    <div class="product-meta">
                      <div class="pro-price">
                        <span>IDR {{ product.book_price}}</span>
                        <br />
                        <span class="old-price">IDR {{ product.book_price + 10000}}</span>
                      </div>
                    </div>
                    <div class="product-wishlist">
                      <span v-if="product.book_stock > 0">In Stock</span>
                      <span v-else>Out Stock</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- product-area end -->
    </main>

    <!-- footer start -->
    <footer>
      <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="index.html">
                    <img :src=" uri + 'vendor/frontend/img/logo/footer-logo.png'" alt />
                  </a>
                </div>
                <p>VueBook Store merupakan e-commerce buku asal Indonesia yang perkembangannya terhitung cepat,menjadikannya sebagai e-commerce pilihan bagi banyak masyarakat Indonesia. Hal ini disebabkan kehadiran VueBook Store membuat pengalaman belanja online para penggunanya menjadi mudah, aman, dan efisien.</p>
                <div class="footer-time d-flex mt-30">
                  <div class="time-icon">
                    <img :src=" uri + 'vendor/frontend/img/icon/time.png'" alt />
                  </div>
                  <div class="time-text">
                    <span>Got Questions ? Call us 24/7!</span>
                    <h2>(0600) 874 548</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Twitter</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Line@</a>
                  </li>
                  <li>
                    <a href="#">Linkedin</a>
                  </li>
                  <li>
                    <a href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-30 mb-40">
                <h3>Location</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Depok</a>
                  </li>
                  <li>
                    <a href="#">Bekasi</a>
                  </li>
                  <li>
                    <a href="#">Simatupang</a>
                  </li>
                  <li>
                    <a href="#">Salemba</a>
                  </li>
                  <li>
                    <a href="#">Karawaci</a>
                  </li>
                  <li>
                    <a href="#">JaCengkarengpan</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>About</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Wholesale</a>
                  </li>
                  <li>
                    <a href="#">Direction</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <a href="shop.html">
                    <img :src=" uri + 'vendor/frontend/img/banner/add.jpg'" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2019
                    <a href="#">VueBook Store</a>. All Rights Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-behance"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
  </div>
</template>

<script>
import axios from "axios";
export default {
  middleware: "auth",

  data: () => ({
    uri: "http://127.0.0.1:8000/",
    products: {},
  }),

  metaInfo() {
    return {
      title: this.$t("home"),
    };
  },

  mounted() {
    this.getDataBooks();
  },

  methods: {
    getDataBooks() {
      console.log(this.$store.state.cart);
      axios.get("api/books/all").then((res) => {
        console.log(res);
        this.products = res.data;
      });
    },
  },
};
</script>
