<template>
  <div>
    <main>
      <!-- product-area start -->
      <section class="product-area box-90 pb-40">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12 mb-5 col-lg-12">
              <h5 class="mb-4">Categories</h5>
              <div class="container text-danger d-flex">
                <div v-for="(c , index) in categories" :key="index" class="mr-3">
                  <a href="#" @click="searchCategory(c.id)" class="text-capitalize">{{c.category_name}}</a>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12">
              <div class="area-title mb-50">
                <div class="d-flex justify-content-between">
                  <div class="mx-1">
                    <h2>Products</h2>
                    <p>Browse the huge variety of our products</p>
                  </div>
                  <div class="mx-1">
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 mt-1">
                        <select name="filter" v-model="filter" @change="searchByFilter()" id="filter" class="form-control form-control-lg mr-1">
                          <option selected value="0">Tampilkan Semua</option>
                          <option value="Second Kualitas Terbaik">second Kualitas Terbaik</option>
                          <option value="Second Populer">Second Populer</option>
                          <option value="Second Dibawah 1 juta">Second < 1 juta</option>
                        </select>
                      </div>
                      <div class="col-sm-12 col-lg-6 mt-1">
                        <autocomplete 
                          :search="search"
                          placeholder="Search for a product"
                          aria-label="Search for a product"
                          :get-result-value="getResultValue"
                        >
                          <!-- @submit="handleSubmit" -->
                        <template #result="{ result, props }">
                          <li
                            v-bind="props"
                            class="autocomplete-result wiki-result"
                          >
                          <router-link :to="'detail/' + result.id" >

                            <div class="wiki-title">
                              {{ result.product_name }}
                            </div>
                            <div class="wiki-snippet" >IDR {{convert(result.product_price)}},-</div>
                          </router-link>
                          </li>
                        </template>
                        </autocomplete>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6" v-for="product in products" :key="product.id">
              <div class="pro-item">
                <div class="product-wrapper mb-50">
                  <div class="product-img mb-25">
                    
                      <router-link :to="'detail/'+product.id">
                    <a href="#">
                      <img :src=" uri + 'uploads/product_images/' + convertImage(product.product_image)" alt />
                      <img
                        class="secondary-img"
                        :src=" uri + 'uploads/product_images/' + convertImage(product.product_image)"
                        alt
                      />
                    </a>
                      </router-link>
                    <div class="product-action text-center">
                      <router-link :to="'detail/'+product.id">
                        <a href="#" title="Quick View">
                          <i class="flaticon-eye"></i>
                        </a>
                      </router-link>
                    </div>
                    <!-- <div class="sale-tag">
                      <span class="new">new</span>
                      <span class="sale">sale</span>
                    </div> -->
                  </div>
                  <div class="product-content">
                    <div class="pro-cat mb-10">
                      <router-link :to="'detail/'+product.id">
                        <a href="#">{{ product.category_name }}</a>
                      </router-link>
                    </div>
                    <h4>
                      <router-link :to="'detail/'+product.id">
                        <a href="#">{{ product.product_name }}</a>
                      </router-link>
                    </h4>
                    <div class="product-meta">
                      <div class="pro-price">
                        <span>IDR {{ convert(product.product_price)}}</span>
                        <br />
                        <!-- <span class="old-price">IDR {{ convert(product.product_price + 10000)}}</span> -->
                      </div>
                    </div>
                    <div class="product-wishlist">
                      <span v-if="product.product_price > 0">In Stock</span>
                      <span v-else>Out Stock</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- product-area end -->
    </main>

    <!-- footer start -->
    <Footer />
    <!-- footer end -->
  </div>
</template>

<script>
import axios from "axios";
import numeral from 'numeral'
import Swal from 'sweetalert2'
import Footer from '~/components/Footer.vue'
import Autocomplete from '@trevoreyre/autocomplete-vue'
export default {
  // middleware: "auth",
  components : {
    Footer,
    Autocomplete
  },
  data: () => ({
    uri: "http://127.0.0.1:8000/",
    categories : [],
    products: [],
    filter : 0
  }),

  metaInfo() {
    return {
      title: this.$t("home")
    };
  },

  mounted() {
    this.getDataProducts();
    this.getCategory();
  },

  methods: {
    convert(price){
      return numeral(price).format('0,0')
    },
    searchCategory(id){
      axios.post("api/products/searchCategory" ,{
        id : id
      }).then(res => {
        console.log(res);
        this.products = res.data;
      });
    },
    searchByFilter(){
      if(this.filter == 0){
        this.getDataProducts()
      }else{
        this.getDataProductsByFilter()
      }
    },
    getDataProducts() {
      axios.get("api/products/all").then(res => {
        console.log(res);
        this.products = res.data;
      });
    },
    getCategory() {
      axios.get("api/categories/all").then(res => {
        console.log(res);
        this.categories = res.data;
      });
    },
    getDataProductsByFilter() {
      axios.post("api/products/filterCondition",{
        product_condition : this.filter
      }).then(res => {
        console.log(res.data);
        this.products = res.data;
      });
    },
    handleSubmit(result){
      Swal.fire(result.id)
    },
    getResultValue(result) {
      return result.product_name
    },
    convertImage(image){
      var img = image.split(',')
      return img[0]
    },
    search(input) {
      if (input.length < 1) { return [] }
      return this.products.filter(product => {
        console.log(product.product_name)
        return (product.product_name).toLowerCase()
          .startsWith(input.toLowerCase())
      })
    }
  }
};
</script>

<style scoped>
.wiki-result {
  border-top: 1px solid #eee;
  padding: 16px;
  background: transparent;
}

.wiki-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.wiki-snippet {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
</style>