<template>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-12">
      <div class="block block-rounded block-bordered">
        <div class="block-content">
          <div class="row push">
            <div class="col-lg-12">
              <label for="product_categories">Product</label>
              <br />
              <input
                type="text"
                readonly
                v-model="product"
                class="form-control"
                placeholder="product"
              />
              <br />
              <label for="product_name">Name</label>
              <br />
              <input
                readonly
                type="text"
                class="form-control"
                value
                placeholder="customer name"
                v-model="name"
              />
              <br />

              <label for="product_image">Product Image</label>
              <input
                type="file"
                ref="file"
                class="form-control"
                multiple
                @change="onChangeFileUpload()"
                name="file"
              />
              <br />

              <label for="product_description">Testimony</label>
              <br />
              <textarea
                name
                class="form-control"
                placeholder="Write a testimony"
                v-model="testimony"
              ></textarea>
              <br />

              <button @click="testimony_store" class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      uri: "http://127.0.0.1:8000/",
      file: [], //UNTUK MENYIMPAN DATA FILE YANG AKAN DIUPLOAD
      product_id: "",
      is_publish: 0,
      testimony: "",
      name: "",
      product: null,
    };
  },
  mounted() {
    this.getProduct(this.$route.params.product_id);
  },
  computed: mapGetters({
    user: "auth/user",
  }),
  methods: {
    onChangeFileUpload() {
      this.file = this.$refs.file.files;
      console.log(this.file.length);
    },
    testimony_store() {
      alert("test");
      let formData = new FormData();
      formData.append("product_id", this.$route.params.product_id);
      formData.append("name", this.name);
      formData.append("testimony", this.testimony);
      for (var i = 0; i < this.file.length; i++) {
        let file = this.file[i];
        console.log(file);
        formData.append("files[" + i + "]", file);
      }
      formData.append("is_publish", 0);
      axios
        .post(this.uri + "api/testimonies/store", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((res) => {
          console.log(res);
          this.file = [];
          this.product_id = 0;
          this.is_publish = 0;
          this.file = [];
          this.testimony = "";
          this.name = "";
          Swal.fire("Good job!", "You clicked the button!", "success");
          this.$router.push({ name: "order" });
        })
        .catch((err) => alert(err.response.data.message));
    },
    getProduct(id) {
      axios
        .get(this.uri + "api/products/data/" + id)
        .then((response) => {
          this.product = response.data.product_name;
          this.name = this.user.name;
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>