<template>
  
    <footer>
      <div class="footer-area box-90 pt-130 pb-60">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-logo">
                  <a href="index.html">
                    <img :src=" uri + 'vendor/frontend/img/logo/logofix.png'" alt />
                  </a>
                </div>
                <p>Diamond Time merupakan e-commerce jam tangan asal Indonesia yang perkembangannya terhitung cepat,menjadikannya sebagai e-commerce pilihan bagi banyak masyarakat dalam dan luar negeri. Hal ini disebabkan kehadiran Diamond Time membuat pengalaman belanja online para penggunanya menjadi mudah, aman, dan efisien.</p>
                <div class="footer-time d-flex mt-30">
                  <div class="time-icon">
                    <img :src=" uri + 'vendor/frontend/img/icon/time.png'" alt />
                  </div>
                  <div class="time-text">
                    <span>Got Questions ? Call us 24/7!</span>
                    <h2>(0600) 874 548</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-50 mb-40">
                <h3>Social Media</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Twitter</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Line@</a>
                  </li>
                  <li>
                    <a href="#">Linkedin</a>
                  </li>
                  <li>
                    <a href="#">Youtube</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
              <div class="footer-widget pl-30 mb-40">
                <h3>Location</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Depok</a>
                  </li>
                  <li>
                    <a href="#">Bekasi</a>
                  </li>
                  <li>
                    <a href="#">Simatupang</a>
                  </li>
                  <li>
                    <a href="#">Salemba</a>
                  </li>
                  <li>
                    <a href="#">Karawaci</a>
                  </li>
                  <li>
                    <a href="#">JaCengkarengpan</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="footer-widget mb-40">
                <h3>About</h3>
                <ul class="footer-link">
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Wholesale</a>
                  </li>
                  <li>
                    <a href="#">Direction</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div class="footer-widget mb-40">
                <div class="footer-banner">
                  <a href="shop.html">
                    <img :src=" uri + 'vendor/frontend/img/banner/add.jpg'" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area box-105">
        <div class="container-fluid">
          <div class="copyright-border pt-30 pb-30">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright text-center text-md-left">
                  <p>
                    Copyright © 2019
                    <a href="#">Diamond Time</a>. All Rights Reserved
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="footer-icon text-center text-md-right">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-behance"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
</template>

<script>
export default {
    name : 'Footer',
    data(){
        return {
            uri: "http://127.0.0.1:8000/",
        }
    }
}
</script>

<style>

</style>