<template>
  <!-- header start -->
  <header>
    <div id="header-sticky" class="header-area box-90">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div
            class="col-xl-2 col-lg-6 col-md-6 col-7 col-sm-5 d-flex align-items-center pos-relative"
          >
            <div class="main-menu text-center mb-3">
              <nav id="mobile-menu">
                <ul>
                  <li>
                    <div class="row d-flex align-items-center pos-relative">
                      <!-- <div class="basic-bar cat-toggle">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                      </div>-->
                      <div class="logo">
                        <router-link :to="{ name : 'welcome' }">
                          <a href="#">
                            <img :src=" uri + 'vendor/frontend/img/logo/logofix.png'" alt />
                            <!-- <h6>Watch Store</h6> -->
                          </a>
                        </router-link>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div> 
          <div class="col-xl-8 col-lg-6 col-md-8 col-8 d-none d-xl-block">
            <div class="main-menu text-center">
              <nav id="mobile-menu">
                <ul>
                  <li>
                    <router-link :to="{ name : 'home' }">
                      <a href="#">Home</a>
                    </router-link>
                  </li>
                  <li>
                    <router-link :to="{ name : 'products' }">
                      <a href="#">Products</a>
                    </router-link>
                  </li>
                  <li>
                    <router-link :to="{ name : 'contact' }">
                      <a href="#">Contact</a>
                    </router-link>
                  </li>
                  <li>
                    <router-link :to="{ name : 'faq' }">
                      <a href="#">FAQ</a>
                    </router-link>
                  </li>
                  <!-- <li v-if="user">
                    <a href @click.prevent="logout">Logout</a>
                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 col-lg-6 col-md-6 col-5 col-sm-7 pl-0">
            <div class="header-right f-right">
              <ul>
                <!-- <li class="search-btn">
                  <a class="search-btn nav-search search-trigger" href="#">
                    <i class="fas fa-search"></i>
                  </a>
                </li>-->

                <li class="d-shop-cart">
                  <a href="#">
                    <i class="flaticon-shopping-cart"></i>
                    <span class="cart-count" v-if="$store.state.cartCount">{{$store.state.cartCount}}</span>
                  </a>
                  <ul class="minicart" style="z-index : 100 !important">
                    <li v-for="item in $store.state.cart" :key="item.id">
                      <div class="cart-img">
                      <router-link :to="'detail/'+item.id">
                        <a href="#">
                          <img :src=" uri + 'uploads/product_images/' + convertImage(item.product_image)" />
                        </a>
                      </router-link>
                      </div>
                      <div class="cart-content">
                        <h3>
                      <router-link :to="'detail/'+item.id">
                          <a href="#">{{ item.product_name }}</a>
                      </router-link>
                        </h3>
                        <div class="cart-price">
                          <span class="new">IDR {{ convert(item.product_price) }}</span>
                          <span>
                            <del>IDR {{ convert(item.product_price) }}</del>
                          </span>
                        </div>
                      </div>
                      <div class="del-icon">
                        <a href="#" @click="removeItem(item)">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </div>
                    </li>

                    <li>
                      <div class="checkout-link">
                        <router-link v-if="$store.state.cartCount != 0" :to="{ name : 'cart' }">
                          <a class="red-color" href>Shoping Cart</a>
                        </router-link>
                        <div v-else><h4>No Item <br> <router-link :to="{name : 'products'}">Shop now</router-link></h4></div>
                        <router-link v-if="$store.state.cartCount != 0" :to="{ name : 'checkout' }">
                          <a class="red-color" href>Checkout</a>
                        </router-link>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="login-btn" v-if="user">
                  <router-link :to="{ name : 'settings.profile' }">
                    <a href="login.html">
                      <i class="fas fa-user"></i>
                    </a>
                  </router-link>
                </li>
                <li class="login-btn" v-else>
                  <router-link :to="{ name : 'login' }">
                    <a href="#">
                      <i class="far fa-user"></i>
                    </a>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 d-xl-none">
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import LocaleDropdown from "./LocaleDropdown";
import numeral from 'numeral'
import Swal from "sweetalert2";
export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: window.config.appName,
    uri: "http://127.0.0.1:8000/"
  }),

  mounted() {},

  computed: mapGetters({
    user: "auth/user"
  }),
  mounted(){
    if(!this.user){
      // this.destroyCart()
    }
  },
  methods: {
    convertImage(img){
      var image = img.split(',')
      return image[0]
    },
    ...mapMutations({
      destroyCart : 'destroyCart'
    }),
    convert(price){
      return numeral(price).format('0,0')
    },
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");
      await this.destroyCart()

      // Redirect to login.
      this.$router.push({
        name: "login"
      });
    },

    removeItem(item) {
      Swal.fire({
        type: "question",
        title: "Hapus Item",
        text: "Singkirkan dari keranjang",
        showCancelButton: true,
        confirmButtonText: "Yas",
        cancelButtonText: "Nah"
      }).then(result => {
        if (result.value) {
          this.$store.commit("removeFromCart", item);
        }
      });
    }
  }
};
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -0.375rem 0;
}

.header {
  margin: 0px !important;
}
</style>