<template>
  <div class="row">
    <div class="col-md-3">
      <card :title="$t('settings')" class="settings-card">
        <ul class="nav flex-column nav-pills">
          <li v-for="tab in tabs" :key="tab.route" class="nav-item">
            <router-link v-if="tab.icon != 'logout'" :to="{ name: tab.route }" class="nav-link my-2" active-class="active">
              <fa :icon="tab.icon" fixed-width />
              {{ tab.name }}
            </router-link>
            <a v-else href="#" @click="logout()" class="nav-link text-primary font-weight-bold" style="background : none !important">
              <fa :icon="tab.icon" fixed-width />
              {{ tab.name }}
            </a>
          </li>
        </ul>
      </card>
    </div>

    <div class="col-md-9">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import { mapGetters, mapMutations } from "vuex";
export default {
  middleware: "auth",

  computed: {
    tabs() {
      return [
        {
          icon: "user",
          name: this.$t("profile"),
          route: "settings.profile"
        },
        {
          icon: "lock",
          name: this.$t("password"),
          route: "settings.password"
        },
        {
          icon: "user",
          name: this.$t("Information"),
          route: "information"
        },
        {
          icon: "user",
          name: this.$t("Orders"),
          route: "order"
        },
        {
          icon: "logout",
          name: this.$t("Logout"),
          route: null
        }
      ];
    }
  },
  methods : {
    
    ...mapMutations({
      destroyCart : 'destroyCart'
    }),
    async logout() {
      // Log out the user.
      Swal.fire({
        title : 'Logout',
        text : 'You will be loggout from this web',
        icon : 'question',
        showCancelButton: true,
      }).then(async (res) => {
        if(res.value){
          await this.$store.dispatch("auth/logout");
          await this.destroyCart()
    
          // Redirect to login.
          this.$router.push({
            name: "login"
          });
        }
      })
    },
  }
};
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
