<template>
  <div>
    <div class="row">
      <div class="col-lg-7">
        <card :title="$t('your_info')">
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
            <div class="col-md-7">
              <input v-model="phone" class="form-control" type="text" name="phone" />
            </div>
          </div>
          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('Address') }}</label>
            <div class="col-md-7">
              <textarea v-model="address" class="form-control" type="text" name="address"> </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('postal') }}</label>
            <div class="col-md-7">
              <input v-model="postal" class="form-control" type="text" name="postal" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('city') }}</label>
            <div class="col-md-7">
              <select v-model="city" class="form-control" type="text" name="city" >
                <option :value="i.address" v-for="(i,index) in city_list" :key="index">{{i.address}}</option>
              </select>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group row">
            <div class="col-md-9 ml-md-auto">
              <button class="btn btn-dark" @click="update()">Submit</button>
            </div>
          </div>
        </card>
      </div>
      <div class="col-lg-5">
        <p>id : {{ active_user.id_users }}</p>
        <p>name : {{ active_user.name }}</p>
        <p>email : {{ active_user.email }}</p>
        <p>phone : {{ active_user.phone }}</p>
        <hr />
        <p>city : {{ active_user.city }}</p>
        <p>postal : {{ active_user.postal }}</p>
        <p>address : {{ active_user.address }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { mapGetters } from "vuex";

export default {
  metaInfo() {
    return { title: this.$t("information") };
  },

  data() {
    return {
      address: "",
      city: "",
      postal: "",
      phone: "",
      uri: "http://127.0.0.1:8000/",
      active_user: [],
      city_list : [
        {address : 'kota makasar' , price : 46000},
        {address : 'kab. bekasi' , price : 10000},
        {address : 'kota bekasi' , price : 10000},
        {address : 'kab. lampung' , price : 57000},
        {address : 'kota semarang' , price : 24000},
        {address : 'kab. semarang' , price : 30000},
        {address : 'kota surabaya' , price : 25000},
        {address : 'kota makasar' , price : 46000},
      ],
    };
  },

  computed: mapGetters({
    user: "auth/user"
  }),

  mounted() {
    this.getData();
  },

  methods: {
    update() {
      axios
        .post("api/updateUserInformation/", {
          city: this.city,
          id: this.user.id,
          address: this.address,
          postal: this.postal,
          phone: this.phone
        })
        .then(res => {
          console.log(res.data);
          this.getData();
          Swal.fire({
            type: "success",
            title: "Cool! Success",
            text: "Your data have been stored",
            cancelButtonText: "Close"
          });
        })
        .catch(err => console.log(err.response));
    },
    getData() {
      axios.get("api/get_data_user/" + this.user.id).then(res => {
        // console.log(res);
        this.active_user = res.data;
        this.city = this.active_user.city
        this.address = this.active_user.address
        this.phone = this.active_user.phone
        this.postal = this.active_user.postal
        console.log(this.active_user);
      });
    }
  }
};
</script>
