<template>
  <div>
    <table class="table table-light">
      <thead>
        <th>Id Order</th>
        <th>Date</th>
        <th>Payment</th>
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr v-if="order.length > 0" v-for="ord in order" :key="ord.id">
          <td>{{ ord.id }}</td>
          <td>{{ ord.date }}</td>
          <td v-if="ord.payment">Sudah bayar</td>
          <td v-else>Belum dibayar</td>
          <td v-if="ord.status==0">Menunggu Pembayaran</td>
          <td v-else-if="ord.status==1">Di Proses</td>
          <td v-else-if="ord.status==2">Di kirim</td>
          <td v-else>Selesai</td>
          <td>
            <router-link :to="'/settings/order_detail/' + ord.id">
              <button class="btn">Detail</button>
            </router-link>
          </td>
        </tr>
        <tr v-else>Belum ada pesanan</tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import axios from "axios";
import Swal from "sweetalert2";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      progressBar: 0, //VARIABLE INI NILAINYA AKAN BERUBAH SESUAI PROGRESS UPLOADING
      message: "",
      isLoading: false,
      file: "", //UNTUK MENYIMPAN DATA FILE YANG AKAN DIUPLOAD
      files: [], //MENYIMPAN DATA FILE YANG TELAH DIUPLOAD
      order: {},
      uri: "http://127.0.0.1:8000/",
      total: 0
    };
  },
  computed: mapGetters({
    user: "auth/user"
  }),
  mounted() {
    this.getDataOrders();
  },
  methods: {
    getDataOrders() {
      axios.get("api/getOrders/" + this.user.id).then(res => {
        this.order = res.data;
      });
    },
    fileUpload(event) {
      this.file = event.files[0];
      console.log(this.file);
    },
    uploadSubmit(id) {
      this.isLoading = true;
      this.message = "";
      let formData = new FormData();
      formData.append("file", this.file);

      axios
        .post(this.uri + "/api/paymentUpload/" + id, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          },
          //FUNGSI INI YANG MEMILIKI PERAN UNTUK MENGUBAH SEBERAPA JAUH PROGRESS UPLOAD FILE BERJALAN
          onUploadProgress: function(progressEvent) {
            //DATA TERSEBUT AKAN DI ASSIGN KE VARIABLE progressBar
            this.progressBar = parseInt(
              Math.round((progressEvent.loaded * 100) / progressEvent.total)
            );
          }.bind(this)
        })
        .then(response => {
          setTimeout(() => {
            this.message = response.data;
            this.isLoading = false;
            this.reset();
            this.getAllFile();
          });
        });
    },
    reset() {
      this.$refs.file.value = "";
    }
  }
};
</script>
