<template>
  <div>
    <div class="card">
      <div class="row p-5">
        <div class="col-lg-6">
          <h2>Total Pembayaran :</h2>
          <h1>
            <b>Rp. {{ (payment.total)}}</b>
          </h1>
          <p>
            <i>{{ order_detail[0].created_at }}</i>
          </p>
        </div>
        <div class="col-lg-6" v-if="!payment.payment">
          <form
            action="javascript:void(0)"
            @submit.prevent="uploadSubmit($route.params.order_id)"
            enctype="multipart/form-data"
            method="post"
            class="form-inline"
          >
            <label for="file">Upload Bukti Pembayaran</label>
            <input
              type="file"
              ref="file"
              class="form-control"
              @change="onChangeFileUpload()"
              name="file"
            />
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
        <div class="col-lg-6" v-else>
          <h5>Menunggu Konfirmasi Pembayaran</h5>
          <!-- <img :src="uri+'uploads/payment/' + payment" width="80px" alt /> -->
          <!-- <a target="_BLANK" :href="uri+'uploads/payment/' + payment">Lihat Bukti Pembayaran</a> -->
          <hr />
          <button
            class="btn btn-dark btn-sm"
            @click="deletePayment($route.params.order_id)"
          >Delete Image</button>
        </div>
      </div>
    </div>
    <table class="table table-light">
      <thead>
        <th>Id</th>
        <th>Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr v-for="detail in order_detail" :key="detail.id">
          <td>{{ detail.id }}</td>
          <td>
            <img width="80" :src="uri + 'uploads/book_images/' + detail.book_cover" alt />
          </td>
          <td>{{ detail.book_title }}</td>
          <td>{{ detail.quantity }}</td>
          <td>{{ (detail.price)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      progressBar: 0, //VARIABLE INI NILAINYA AKAN BERUBAH SESUAI PROGRESS UPLOADING
      message: "",
      isLoading: false,
      file: "", //UNTUK MENYIMPAN DATA FILE YANG AKAN DIUPLOAD
      files: [], //MENYIMPAN DATA FILE YANG TELAH DIUPLOAD
      order_detail: [],
      total: 0,
      form_file: "",
      payment: "",
      uri: "http://127.0.0.1:8000/"
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get(this.uri + "api/order_detail/" + this.$route.params.order_id)
        .then(res => {
          this.order_detail = res.data.order;
          this.payment = res.data.payment;
          for (var i = 0; i < this.order_detail.length; i++) {
            this.total += this.order_detail[i].price;
          }
          console.log(res);
        })
        .catch(err => console.log(err));
      this.form_file = true;
    },

    onChangeFileUpload(event) {
      this.file = this.$refs.file.files[0];
      console.log(this.file);
    },
    uploadSubmit(id) {
      this.isLoading = true;
      this.message = "";
      let formData = new FormData();
      formData.append("file", this.file);
      formData.append("id", id);

      axios
        .post(this.uri + "api/paymentUpload/", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          console.log(response);
          setTimeout(() => {
            this.message = response.data;
            this.isLoading = false;
            this.reset();
            this.getData();
            this.progressBar = 0;
            this.form_file = "";
          });
        });
    },
    reset() {
      this.$refs.file.value = "";
    },
    deletePayment(id) {
      Swal.fire({
        title: "Delete Payment? ",
        text: "You'll be able to revert this",
        role: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          axios
            .get(this.uri + "/api/deletePayment/" + id)
            .then(res => {
              console.log(res);
              this.getData();
            })
            .catch(err => console.log);
        }
      });
    }
  }
};
</script>