<template>
  <div>
    <main>
      <!-- login Area Strat-->
      <section class="login-area pt-100 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="basic-login">
                <h3 class="text-center mb-60">Login Disini</h3>
                <form @submit.prevent="login" @keydown="form.onKeydown($event)">
                  <label for="name">
                    Email Address
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.email"
                    :class="{ 'is-invalid': form.errors.has('email') }"
                    class="form-control"
                    type="email"
                    name="email"
                  />
                  <has-error :form="form" field="email" />
                  <label for="pass">
                    Password
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.password"
                    :class="{ 'is-invalid': form.errors.has('password') }"
                    class="form-control"
                    type="password"
                    name="password"
                  />
                  <has-error :form="form" field="password" />
                  <div class="login-action mb-20 fix">
                    <span class="log-rem f-left">
                      <checkbox v-model="remember" name="remember">{{ $t('remember_me') }}</checkbox>
                    </span>
                    <!-- <span class="forgot-login f-right">
                      <router-link
                        :to="{ name: 'password.request' }"
                        class="small ml-auto my-auto"
                      >{{ $t('forgot_password') }}</router-link>
                    </span> -->
                  </div>
                  <v-button class="btn theme-btn-2 w-100" :loading="form.busy">Login Sekarang</v-button>
                  <div class="or-divide">
                    <span>or</span>
                  </div>
                  <router-link :to="{ name : 'register' }">
                    <a>
                      <button class="btn theme-btn w-100">Register Now</button>
                    </a>
                  </router-link>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- login Area End-->
    </main>
  </div>
</template>

<script>
import Form from "vform";
import LoginWithGithub from "~/components/LoginWithGithub";

export default {
  middleware: "guest",

  components: {
    LoginWithGithub,
  },

  metaInfo() {
    return { title: this.$t("login") };
  },

  data: () => ({
    form: new Form({
      email: "",
      password: "",
    }),
    remember: false,
  }),

  methods: {
    async login() {
      // Submit the form.
      const { data } = await this.form.post("/api/login");

      // Save the token.
      this.$store.dispatch("auth/saveToken", {
        token: data.token,
        remember: this.remember,
      });

      // Fetch the user.
      await this.$store.dispatch("auth/fetchUser");

      // Redirect home.
      this.$router.push({ name: "home" });
    },
  },
};
</script>
