<template>
  <div>
    <main>
      <!-- login Area Strat-->
      <section class="login-area pb-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="basic-login">
                <h3 class="text-center mb-60">Daftar Disini</h3>
                <form @submit.prevent="register" @keydown="form.onKeydown($event)">
                  <label for="name">
                    Names
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.name"
                    :class="{ 'is-invalid': form.errors.has('name') }"
                    class="form-control"
                    type="text"
                    name="name"
                  />
                  <has-error :form="form" field="name" />

                  <label for="phone">
                    Phone
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.phone"
                    :class="{ 'is-invalid': form.errors.has('phone') }"
                    class="form-control"
                    type="phone"
                    name="phone"
                  />
                  <has-error :form="form" field="phone" />

                  <label for="name">
                    Email Address
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.email"
                    :class="{ 'is-invalid': form.errors.has('email') }"
                    class="form-control"
                    type="email"
                    name="email"
                  />
                  <has-error :form="form" field="email" />

                  <label for="pass">
                    Password
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.password"
                    :class="{ 'is-invalid': form.errors.has('password') }"
                    class="form-control"
                    type="password"
                    name="password"
                  />
                  <has-error :form="form" field="password" />
                  <label for="pass">
                    Confirmation Password
                    <span>**</span>
                  </label>
                  <input
                    v-model="form.password_confirmation"
                    :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                    class="form-control"
                    type="password"
                    name="password_confirmation"
                  />
                  <has-error :form="form" field="password_confirmation" />
                  <br />
                  <v-button class="btn theme-btn-2 w-100" :loading="form.busy">Register Now</v-button>
                  <div class="or-divide">
                    <span>or</span>
                  </div>
                  <router-link :to="{ name : 'login' }">
                    <a>
                      <button class="btn theme-btn w-100">Login Now</button>
                    </a>
                  </router-link>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- login Area End-->
    </main>
  </div>
</template>

<script>
import Form from "vform";
import LoginWithGithub from "~/components/LoginWithGithub";

export default {
  middleware: "guest",

  components: {
    LoginWithGithub,
  },

  metaInfo() {
    return { title: this.$t("register") };
  },

  data: () => ({
    form: new Form({
      name: "",
      phone: "",
      email: "",
      password: "",
      password_confirmation: "",
    }),
    mustVerifyEmail: false,
  }),

  methods: {
    async register() {
      // Register the user.
      const { data } = await this.form.post("/api/register");
      console.log(data)
      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true;
      } else {
        // Log in the user.
        const {
          data: { token },
        } = await this.form.post("/api/login");

        // Save the token.
        this.$store.dispatch("auth/saveToken", { token });

        // Update the user.
        await this.$store.dispatch("auth/updateUser", { user: data });

        // Redirect home.
        this.$router.push({ name: "home" });
      }
    },
  },
};
</script>